canvas {
	margin: 0 auto;
	display: block;
	-moz-box-shadow: -2px -2px 2px #eee, 5px 5px 5px #b9b9b9;
	-webkit-box-shadow: -2px -2px 2px #eee, 5px 5px 5px #b9b9b9;
	box-shadow: -2px -2px 2px #eee, 5px 5px 5px #b9b9b9;
}